.account-page {
  width: 100%;
}

.profile-picture{
  border-radius: 50%;
  width: 15rem;
  height: 15rem;
}
.profile {
  background-color: #121212 !important;
}

.tracks-container {
  background-color: #121212;
  margin-top: 2rem;
}

.tracks-container > h3 {
  text-align: left;
}

.spot-logo {
  height: 4rem;
  width: auto
}